<section class="content-header">
    <h1>
        Add Class
    </h1>
</section>
<section class="content" style="min-height: 945px;">
    <div class="form-group">
        <ui-select ng-model="newClass.College" ng-required="true" ng-change="collegeSelected()">
            <ui-select-match placeholder="Choose a College">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="college in colleges | filter: $select.search">
                <div ng-bind-html="college.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="newClass.CourseId" ng-required="true" ng-change="courseSelected()">
            <ui-select-match placeholder="Choose a Course">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="course.Id as course in courses | filter: $select.search">
                <div ng-bind-html="course.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="newClass.BranchId" ng-required="true" ng-change="branchSelected()">
            <ui-select-match placeholder="Choose a Branch">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="branch.Id as branch in branches | filter: $select.search">
                <div ng-bind-html="branch.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="newClass.SemesterId" ng-required="true" ng-change="semesterSelected()">
            <ui-select-match placeholder="Choose a Semester">{{$select.selected.SemesterNumber}}</ui-select-match>
            <ui-select-choices repeat="semester.Id as semester in semesters | filter: $select.search">
                <div ng-bind-html="semester.SemesterNumber"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li ng-repeat="class in classes">
                    {{class.Name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" ng-model="classNames" placeholder="Class Names in pipe separated">
    </div>
    <button class="btn btn-primary btn-block" ng-click="addClasses()">Add Classes</button>
</section>