<section class="content-header">
    <h1>
        Create Keywords
    </h1>
</section>
<section class="content" style="min-height: 945px;">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <ui-select ng-model="selected.CourseId" ng-required="true" ng-change="courseSelected()">
                    <ui-select-match placeholder="Choose a Course">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="course.Id as course in courses | filter: $select.search">
                        <div ng-bind-html="course.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <ui-select ng-model="selected.BranchId" ng-required="true" ng-change="branchSelected()">
                    <ui-select-match placeholder="Choose a Branch">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="branch.Id as branch in branches | filter: $select.search">
                        <div ng-bind-html="branch.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <ui-select ng-model="selected.SemesterId" ng-required="true" ng-change="semesterSelected()">
                    <ui-select-match placeholder="Choose a Semester">{{$select.selected.SemesterNumber}}</ui-select-match>
                    <ui-select-choices repeat="semester.Id as semester in semesters | filter: $select.search">
                        <div ng-bind-html="semester.SemesterNumber"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <ui-select ng-model="newSearchword.SubjectId" ng-required="true" ng-change="subjectSelected()">
                    <ui-select-match placeholder="Choose a Subject">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="subject.Id as subject in subjects | filter: $select.search">
                        <div ng-bind-html="subject.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Keywords in pipe separated values" ng-model="newSearchword.Searchwords"></textarea>
            </div>

            <button class="btn btn-primary btn-block" ng-click="addSearchword()">Submit</button>
        </div>
        <div class="col-md-6">
            <h3>Keywords</h3>
            <ul>
                <li ng-repeat="searchword in searchwords">
                    <span editable-text="searchword.Name" onaftersave="updateSearchword(searchword)">{{searchword.Name || 'null'}}</span>&nbsp;&nbsp;&nbsp;<i class="fa fa-trash text-danger" ng-click="deleteSearchword(searchword)"></i>
                </li>
            </ul>
        </div>
    </div>
</section>