<section class="content-header">
    <h1>
        Assign Topics to Chapters
    </h1>
    <!-- <button class="btn btn-flat btn-primary pull-right" ng-click="addTopics()">
        <i class="fa fa-plus"></i>&nbsp;Add Topics
    </button> -->
</section>
<section class="content" style="min-height: 945px;">
    <div class="form-group">
        <ui-select ng-model="assignTopic.CourseId" ng-required="true" ng-change="courseSelected()">
            <ui-select-match placeholder="Choose a Course">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="course.Id as course in courses | filter: $select.search">
                <div ng-bind-html="course.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="assignTopic.BranchId" ng-required="true" ng-change="branchSelected()">
            <ui-select-match placeholder="Choose a Branch">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="branch.Id as branch in branches | filter: $select.search">
                <div ng-bind-html="branch.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="assignTopic.SemesterId" ng-required="true" ng-change="semesterSelected()">
            <ui-select-match placeholder="Choose a Semester">{{$select.selected.SemesterNumber}}</ui-select-match>
            <ui-select-choices repeat="semester.Id as semester in semesters | filter: $select.search">
                <div ng-bind-html="semester.SemesterNumber"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="assignTopic.SubjectId" ng-required="true" ng-change="subjectSelected()">
            <ui-select-match placeholder="Choose a Subject">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="subject.Id as subject in subjects | filter: $select.search">
                <div ng-bind-html="subject.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <ui-select ng-model="assignTopic.ChapterId" ng-required="true">
            <ui-select-match placeholder="Choose a Chapter">{{$select.selected.Name}}</ui-select-match>
            <ui-select-choices repeat="chapter.Id as chapter in chapters | filter: $select.search">
                <div ng-bind-html="chapter.Name"></div>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Topic Names in pipe separated values" ng-model="topicNames"></textarea>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea class="form-control" rows="5" placeholder="Topic URLs in pipe separated values" ng-model="topicURLs"></textarea>
        </div>
    </div>

    <button class="btn btn-primary btn-block" ng-click="createTopicsAndAssignToChapter()">Assign</button>

    <!-- <div class="form-group">
        Choose topics to assign :
        <div class="checkbox" ng-repeat="topic in topics | orderBy: '-CreatedAt'">
            <label>
                <input type="checkbox" ng-model="topic.isChecked"> {{$index+1}} - {{topic.Name}}
            </label>
        </div>
    </div> -->

</section>