<section class="content-header">
    <h1>
        View Test Questions
        <a class="pull-right" href="https://drive.google.com/file/d/1JBmi5WSWg-sHJ-u3R91znEN36NhejiTl/view?usp=drivesdk" target="_blank" style="margin-right:15px;">TIPS</a>
    </h1>
</section>
<section class="content" style="min-height: 945px;">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <ui-select ng-model="selected.CourseId" ng-required="true" ng-change="courseSelected()">
                    <ui-select-match placeholder="Choose a Course">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="course.Id as course in courses | filter: $select.search">
                        <div ng-bind-html="course.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <ui-select ng-model="selected.BranchId" ng-required="true" ng-change="branchSelected()">
                    <ui-select-match placeholder="Choose a Branch">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="branch.Id as branch in branches | filter: $select.search">
                        <div ng-bind-html="branch.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <ui-select ng-model="selected.SemesterId" ng-required="true" ng-change="semesterSelected()">
                    <ui-select-match placeholder="Choose a Semester">{{$select.selected.SemesterNumber}}</ui-select-match>
                    <ui-select-choices repeat="semester.Id as semester in semesters | filter: $select.search">
                        <div ng-bind-html="semester.SemesterNumber"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <ui-select ng-model="selected.SubjectId" ng-required="true" ng-change="subjectSelected()">
                    <ui-select-match placeholder="Choose a Subject">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="subject.Id as subject in subjects | filter: $select.search">
                        <div ng-bind-html="subject.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <ui-select ng-model="selected.Chapter" ng-required="true" ng-change="chapterSelected()">
                    <ui-select-match placeholder="Choose a Chapter">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="chapter as chapter in chapters | filter: $select.search">
                        <div ng-bind-html="chapter.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <ui-select class="uiselect-menu-right" ng-model="selected.Topic" ng-required="true" ng-change="topicSelected()">
                    <ui-select-match placeholder="Choose a Topic">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="topic as topic in topics | filter: $select.search">
                        <div ng-bind-html="topic.Name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-if="questions.length == 0">
            No Questions Found
        </div>
        <div class="col-md-4" style="border-right:1px solid #222d32;max-height: 545px;overflow-y: scroll;" ng-show="questions.length > 0">
            <h3>All Questions({{questions.length}})</h3>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
            <ol>
                <li ng-repeat="que in questions | filter:search" style="margin:10px; cursor:pointer" ng-click="questionSelected($index)" ng-class="{'question-selected':que.Id == question.Id}">
                    <img ng-if="que.ImageURL != null" ng-src="{{que.ImageURL}}" alt="" style="width:90%;">
                    <span ng-if="que.ImageURL == null" ng-bind-html="que.Name"></span>
                </li>
            </ol>
        </div>
        <div class="col-md-8" ng-if="questions.length > 0">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-12">
                    <h3>Question {{currentIndex + 1}}</h3>
                    <!-- <img ng-if="question.ImageURL != null" ng-src="{{question.ImageURL}}" alt="No Media" style="width:70%;"> -->
                    <a href="{{question.ImageURL}}" target="_blank" ng-if="question.ImageURL != null">View Question</a>
                    <button class="btn btn-danger" ng-click="removeCriteriaImage()" ng-if="question.ImageURL != null">Delete Image</button>
                    <a href editable-textarea="question.Name" onaftersave="editCriteria()" e-rows="4" e-cols="100" ng-if="question.ImageURL == null">
                        {{ question.Name || 'null' }}
                    </a>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <ui-select ng-model="question.BTId" ng-required="true" ng-change="editCriteria()">
                                    <ui-select-match placeholder="Choose a Blooms Level">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="bt.Id as bt in bts | filter: $select.search">
                                        <div ng-bind-html="bt.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ui-select ng-model="changed.Topic" ng-required="true" ng-change="editCriteria()">
                                    <ui-select-match placeholder="Choose a Topic">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="topic as topic in topics | filter: $select.search">
                                        <div ng-bind-html="topic.Name"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger btn-block" style="width: 150px;display: inline-block;margin: 0px 0px 10px 20px;" ng-click="deleteQuestion()">Delete Question</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary" ng-click="editCriteria();">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>